{% extends "base_generic.html" %}
<script type="text/javascript" src="http://kozea.github.com/pygal.js/latest/pygal-tooltips.min.js"></script>
{% block content %}
<h1>GSOC'18 Demo Task #1: Disturbance Storm Index</h1>

  <p>Welcome to my <em>Demo For GSOC 2018</em>. Its a very basic Django website developed for plotting the Disturbance Storm Index, the basics of django were learned from tutorial examples on the Mozilla Developer Network.</p>
	
	<h3>Note:</h3>
		<p> <strong>Organisation: </strong> Space@VirginiaTech  </p>
		<p> <strong>Language used:</strong> Python, HTML, CSS </p>
		<p> <strong>Python Framework Used:</strong> Django and Pygal </p>
		<p> <strong>Time taken to copy new data and create new plots and redirect page:</strong> 10mins</p>
		<p> <strong>Time needed to copy data from 1957 - 2013 :</strong> 112 Hours ~ 4.6 Days </p>
	<h3>Improvements:</h3>
	<ol>
		<li> Client side visualizations instead of server side </li>
		<li> Database structure can be modified </li>
	</ol>
	<h3>Remark To Self:</h3>
	<p> Good Job! </p>
	

{% endblock %}